html, body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 320px;
	background-color: #fff;
	overflow-x: hidden;
    color: #2e2723;
}

p, ul, blockquote {
    line-height: 1.4;
}

.wrapper {
	margin: 0 auto;
	padding: 0 40px 0 40px;
	width: auto;
	max-width: 1200px;
	text-align: center;
}

/* Fonts */
	@font-face {
	  font-family: 'Acrom-Bold';
	  src: url('../fonts/Acrom-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Acrom-Bold.otf')  format('opentype'),
		     url('../fonts/Acrom-Bold.woff') format('woff'), url('../fonts/Acrom-Bold.ttf')  format('truetype'), 
		     url('../fonts/Acrom-Bold.svg#Acrom-Bold') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'Acrom-Medium';
	  src: url('../fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Acrom-Medium.otf')  format('opentype'),
		     url('../fonts/Acrom-Medium.woff') format('woff'), url('../fonts/Acrom-Medium.ttf')  format('truetype'), 
		     url('../fonts/Acrom-Medium.svg#Acrom-Medium') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'MullerExtraBold';
	  src: url('../fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MullerExtraBold.otf')  format('opentype'),
		     url('../fonts/MullerExtraBold.woff') format('woff'), url('../fonts/MullerExtraBold.ttf')  format('truetype'), 
		     url('../fonts/MullerExtraBold.svg#MullerExtraBold') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'Raleway-Regular';
	  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raleway-Regular.woff') format('woff'),
			url('../fonts/Raleway-Regular.ttf')  format('truetype'), url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}

    @font-face {
      font-family: 'Raleway-Bold';
      src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf')  format('truetype'), url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
      font-weight: normal;
      font-style: normal;
     }

    @font-face {
      font-family: 'Raleway-Medium';
      src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf')  format('truetype'), url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
      font-weight: normal;
      font-style: normal;
     }

/* Header */
	header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 87px;
		background-color: rgba(46, 39, 35, 0.851);
		-webkit-box-shadow: 0px 3px 0px 0px rgba(67,60,52,0.851);
		-moz-box-shadow: 0px 3px 0px 0px rgba(67,60,52,0.851);
		box-shadow: 0px 3px 0px 0px rgba(67,60,52,0.851);
		z-index: 2;
	}

	header:after {
		content: '';
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: rgba(190, 178, 159, .322);
	}

	.header-logo {
	    margin-left: 30px;
	    width: 100px;
	    height: 100%;
	    float: left;
	}

	.header-logo:before {
		content: '';
		position: absolute;
		top: 8px;
		width: 100px;
	    height: 65px;
	    background-image: url(../img/sprites.svg#_373529024);
	    background-size: 1000px auto;
	    background-repeat: no-repeat;
	}

	/* Menu */
		.menu {
			position: relative;
			margin: 5px 0 0 160px;
			padding: 0;
			z-index: 2;
		}

		.menu > li {
			display: inline-block;
		}

		.menu li a {
			display: block;
			margin: 0;
			padding: 35px 18px;
			font-size: 13px;
			font-family: 'Acrom-Medium';
			letter-spacing: 1.3px;
			color: #ffd06b;
			text-decoration: none;
			text-transform: uppercase;
		}

		.menu > li > ul {
			display: none;
			position: absolute;
			margin: 0;
			padding: 0;
			top: 80px;
			left: 15px;
		}

		.menu > li > ul li {
			position: relative;
			margin: 0;
			padding-top: 5px;
			list-style-type: none;
		}

		.menu > li > ul > li a {
			position: relative;
		    margin: 0;
		    padding: 20px 18px;
		    width: 180px;
			background-color: rgba(46, 39, 35, 0.851);
		    text-align: center;
		}

	/* Mob menu button */
		.mob-menu {
			display: none;
			position: relative;
			margin: 0;
			padding: 0;
			float: right;
		}

		.mob-menu { 
			padding: 40px 65px 25px 0px; 
			cursor: pointer; 
		}

		.mob-menu > span, .mob-menu > span:before, .mob-menu > span:after {
			cursor: pointer;
			border-radius: 1px;
			height: 3px;
			width: 40px;
			background: #ffd06b;
			position: absolute;
			display: block;
			content: '';
		}
		.mob-menu > span:before {
			top: -9px; 
		}
		.mob-menu > span:after {
			bottom: -9px;
		}

		.mob-menu > span, .mob-menu > span:before, .mob-menu > span:after {
			transition: all 500ms ease-in-out;
		}

		.mob-menu.active > span {
			background-color: transparent;
		}

		.mob-menu.active > span:before, .mob-menu.active > span:after {
			top: 0;
		}

		.mob-menu.active > span:before {
			transform: rotate(45deg);
		}

		.mob-menu.active > span:after {
			transform: rotate(-45deg);
		}

	/* Contacts */
		.contacts {
		    position: absolute;
		    width: 328px;
		    height: 90px;
		    right: 0;
		    top: 0;
		    background-color: #ffd06b;
		    z-index: 3;
		}

		.contacts-logo {
			position: absolute;
		    top: 8px;
		    left: 17px;
		    width: 80px;
		    height: 80px;
		    background-image: url(../img/sprites.svg#_373527392);
		    background-size: 1000px auto;
		    background-position: 0px -83px;
		    background-repeat: no-repeat;
		    text-decoration: none;
		}

		.contacts-link {
			position: relative;
			margin: 15px 0 0 102px;
		}

		.contacts-link > a {
			display: block;
			padding: 5px 5px;
			margin: 0;
			width: 180px;
			font-size: 18px;
			font-family: 'Acrom-Bold';
			letter-spacing: .9px;
			color: #2e2723;
			text-decoration: none;
		}

/* First Screen */
	.first-screen {
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 583px;
		background-image: url("../img/first_screen_bg_1.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
	}

	.first-screen-img {
		position: absolute;
	    margin-left: -380px;
	    bottom: 0;
	    left: 50%;
	    width: 1377px;
	    height: 451px;
	    background-image: url(../img/angel.png);
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    -webkit-transition: opacity 2s linear 0s;
		-moz-transition: opacity 2s linear 0s;
		-o-transition: opacity 2s linear 0s;
		transition: opacity 2s linear 0s;
		opacity: 0;
	}

	.first-screen-img.load {
		opacity: 1;
	}
	
	/* First Screen Text */

		.first-screen-text {
			margin: 201px 0 0 50px;
			width: 420px;
		}

		.first-screen-text > .year {
			padding: 6px 20px;
		    width: 258px;
		    font-size: 56px;
		    font-family: 'Acrom-Bold';
		    letter-spacing: 3px;
		    color: #fff;
		    background-color: #453a34;
		    text-transform: uppercase;
			-webkit-transition: opacity 1s linear 0s;
			-moz-transition: opacity 1s linear 0s;
			-o-transition: opacity 1s linear 0s;
			transition: opacity 1s linear 0s;
			opacity: 0;
		}

		.first-screen-text > .year.load {
			opacity: 1;
		}

		.first-screen-text > .main-text {
			margin-top: 24px;
			font-size: 26px;
			letter-spacing: 1.3px;
			font-family: 'Acrom-Bold';
			color: #2e2723;
			text-transform: uppercase;
			-webkit-transition: opacity 1.5s linear 0s;
			-moz-transition: opacity 1.5s linear 0s;
			-o-transition: opacity 1.5s linear 0s;
			transition: opacity 1.5s linear 0s;
			opacity: 0;
		}

		.first-screen-text > .main-text.load {
			opacity: 1;
		}

		.first-screen-text > .description {
			margin-top: 12px;
			font-size: 18px;
			font-family: 'Raleway-Regular';
			color: #2e2723;
			letter-spacing: .65px;
			line-height: 26px;
			-webkit-transition: opacity 1.8s linear 0s;
			-moz-transition: opacity 1.8s linear 0s;
			-o-transition: opacity 1.8s linear 0s;
			transition: opacity 1.8s linear 0s;
			opacity: 0;
		}

		.first-screen-text > .description.load {
			opacity: 1;
		}

/* Form */
	.form-box {
		position: absolute;
		width: 328px;
		height: 496px;
		top: 87px;
		right: 0;
		background-color: rgba(255, 255, 255, .6);
		z-index: 1;
	}

	.form-box > p {
		margin-top: 109px;
	    width: 100%;
	    font-size: 20px;
	    font-family: 'Acrom-Bold';
	    letter-spacing: .6px;
	    color: #2e2723;
	    text-transform: uppercase;
	    text-align: center;
	}
	
	.form-box > form > span {
		display: block;
		margin: 0 auto;
		margin-bottom: 11px;
		width: 80%;
	}

	.form-box > form > span > input {
		width: 90%;
		padding: 14px 5%;
		font-size: 14px;
		font-family: 'Raleway-Regular';
	    border: 1px solid rgb(145, 145, 145);
	}
	
	.form-box > form > span > .button {
		margin-top: 9px;
		padding: 14px 0px;
		width: 100%;
		font-size: 15px;
		font-family: 'Acrom-Medium';
		letter-spacing: 1.4px;
		color: #fff;
		text-transform: uppercase;
		background-image: -moz-linear-gradient( -90deg, rgb(171,17,56) 0%, rgb(115,9,36) 100%);
		background-image: -webkit-linear-gradient( -90deg, rgb(171,17,56) 0%, rgb(115,9,36) 100%);
		background-image: -ms-linear-gradient( -90deg, rgb(171,17,56) 0%, rgb(115,9,36) 100%);
		border: 0;
	}

	.form-box > form > span > .button:hover {
		cursor: pointer;
		opacity: .85;
	}

	.form-box > form > span > .button:active {
		cursor: pointer;
		opacity: .95;
	}

/* Second screen */
	.second-screen {
		margin-top: 70px;
	}

	.second-screen > h1 {
		margin: 0;
		width: 100%;
		font-family: 'Acrom-Bold';
		letter-spacing: .85px;
		color: #2e2723;
		text-transform: uppercase;
	}

	.second-screen > p {
		margin-top: 29px;
		width: 100%;
		font-size: 16px;
		letter-spacing: 1.25px;
		line-height: 24px;
		font-family: 'Raleway-Regular';
	}

	.second-screen-box {
		margin-top: 35px;
		margin-left: -60px;
		margin-right: -60px;
		overflow: hidden;
	}

	.second-screen-elem {
		display: block;
    	padding: 0 60px 110px 60px;
		width: 50%;
		-webkit-transition:all 2s linear 0s;
		-moz-transition: all 2s linear 0s;
		-o-transition: all 2s linear 0s;
		transition: all 2s linear 0s;
		vertical-align: top;
		box-sizing: border-box;
		float: left;
		opacity: 0;
	}

	.second-screen .second-screen-box .second-screen-elem.out{
		opacity: 1;
	}

	.second-screen-elem .elem-link > .elem-img {
		margin: 0 auto;
		width: 500px;
		height: 500px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.second-screen-elem > h2 {
		display: block;
		margin: 0;
		margin-top: 35px;
		font-family: 'Acrom-Bold';
		letter-spacing: 1.8px;
		color: #2e2723;
		text-transform: uppercase;
	}

	.second-screen-elem > p {
		margin: 0;
		margin-top: 12px;
		font-size: 15px;
		font-family: 'Raleway-Regular';
		color: #2e2723;
		text-align: justify;
		line-height: 23px;
	}

	.elem-footer {
		margin-top: 37px;
		overflow: hidden;
	}
	
	.elem-footer > .elem-price {
		margin-top: 13px;
		padding-bottom: 5px;
		font-size: 13px;
		font-family: 'Raleway-Regular';
		text-transform: uppercase;
		float: left;
		text-align: left;
		border-bottom: 2px solid rgb(69, 58, 52);
	}

	.elem-footer > .elem-price > span {
		padding: 0 8px 0 10px;
		font-size: 26px;
		letter-spacing: 3px;
		word-spacing: -4px;
		font-family: 'MullerExtraBold';
	}

	.elem-footer > .button {
		display: block;
		padding: 15px 15px;
		width: 170px;
		font-size: 15px;
		font-family: 'Acrom-Medium';
		letter-spacing: 1.4px;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		background-image: -moz-linear-gradient( -90deg, rgb(171,17,56) 0%, rgb(115,9,36) 100%);
		background-image: -webkit-linear-gradient( -90deg, rgb(171,17,56) 0%, rgb(115,9,36) 100%);
		background-image: -ms-linear-gradient( -90deg, rgb(171,17,56) 0%, rgb(115,9,36) 100%);
		border: 0;
		float: right;
	}

	.elem-footer > .button:hover {
		cursor: pointer;
		opacity: .85;
	}

	.elem-footer > .button:active {
		cursor: pointer;
		opacity: .95;
	}

/* Third screen */
	.third-screen {
		width: 100%;
		overflow: hidden;
	}

	.third-screen > h2 {
		font-size: 30px;
		font-family: 'Acrom-Bold';
		text-align: center;
		letter-spacing: 2.2px;
		text-transform: uppercase;
	}

	.third-screen-box {
		margin-top: 32px;
		overflow: hidden;
	}

	.third-screen-elem {
		display: block;
		position: relative;
		width: 25%;
	    height: 380px;
		background-size: 100% auto;
		background-position: center center;
		float: left;
	}

	.third-screen-elem:nth-child(1) {
		background-image: url("../img/catalogue_bg_1.jpg")
	}

	.third-screen-elem:nth-child(2) {
		background-image: url("../img/catalogue_bg_2.jpg")
	}

	.third-screen-elem:nth-child(3) {
		background-image: url("../img/catalogue_bg_3.jpg")
	}

	.third-screen-elem:nth-child(4) {
		background-image: url("../img/catalogue_bg_4.jpg")
	}

	.third-screen-img {
		margin: 0 auto;
		width: 100%;
		height: 100%;
		background-size: contain;
		backgorund-position: center center;
		background-repeat: no-repeat;
		-webkit-transition: opacity 2s linear 0s;
		-moz-transition: opacity 2s linear 0s;
		-o-transition: opacity 2s linear 0s;
		transition: opacity 2s linear 0s;
		opacity: 0;
	}

	.third-screen .third-screen-box .third-screen-elem .third-screen-img.out{
		opacity: 1;
	}

	.third-screen-img.first {
		background-image: url("../img/catalogue_img_1.png");
	}

	.third-screen-img.second {
		background-image: url("../img/catalogue_img_2.png");
	}

	.third-screen-img.third {
		background-image: url("../img/catalogue_img_3.png");
	}

	.third-screen-elem > a {
		display: flex;
		margin: 0 auto;
		text-decoration: none;
		width: 100%;
		height: 100%;
		text-align: center;
		-webkit-transition: opacity 2s linear 0s;
		-moz-transition: opacity 2s linear 0s;
		-o-transition: opacity 2s linear 0s;
		transition: opacity 2s linear 0s;
		opacity: 0;
	}
	
	.third-screen .third-screen-box .third-screen-elem a.out{
		opacity: 1;
	}

	.third-screen-elem > a > span {
		display: block;
		margin: auto;
		font-size: 24px;
		font-family: 'Acrom-Medium';
		color: #fff;
		line-height: 33px;
	}

	.third-screen-elem > a > span:before {
		content: '';
		display: block;
		margin: 0 auto;
		width: 75px;
		height: 75px;
		background-image: url(../img/sprites.svg#_373526744);
		background-size: 1000px auto;
		background-position: -120px -90px;
		background-repeat: no-repeat;
		text-decoration: none;
	}

/* Fourth screen */
	.fourth-screen-box {
		margin-top: 110px;
		margin-left: -60px;
		margin-right: -60px;
		padding-bottom: 122px;
		overflow: hidden;
	}
	
	.fourth-screen-elem {
		padding: 0 60px;
		display: block;
		width: 50%;
		-webkit-transition:all 2s linear 0s;
		-moz-transition: all 2s linear 0s;
		-o-transition: all 2s linear 0s;
		transition: all 2s linear 0s;
		vertical-align: top;
		box-sizing: border-box;
		float: left;
		opacity: 0;
	}

	.fourth-screen .fourth-screen-box .fourth-screen-elem.out{
		opacity: 1;
	}

	.fourth-screen-elem > .elem-link > .elem-img {
		margin: 0 auto;
		width: 465px;
		height: 465px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.fourth-screen-elem > h2 {
		margin: 0 auto;
		margin-top: 25px;
		font-size: 24px;
		font-family: 'Acrom-Bold';
		letter-spacing: 1.8px;
		line-height: 32px;
		color: #2e2723;
		text-transform: uppercase;
	}

	.fourth-screen-elem > .button {
		display: block;
		margin: 0 auto;
		margin-top: 33px;
		padding: 20px 15px;
		width: 100%;
		max-width: 300px;
		font-size: 15px;
		font-family: 'Acrom-Medium';
		letter-spacing: 1.4px;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		background-image: -moz-linear-gradient( -90deg, rgb(171,17,56) 0%, rgb(115,9,36) 100%);
		background-image: -webkit-linear-gradient( -90deg, rgb(171,17,56) 0%, rgb(115,9,36) 100%);
		background-image: -ms-linear-gradient( -90deg, rgb(171,17,56) 0%, rgb(115,9,36) 100%);
		border: 0;
	}

	.fourth-screen-elem > .button:hover {
		cursor: pointer;
		opacity: .85;
	}

	.fourth-screen-elem > .button:active {
		cursor: pointer;
		opacity: .95;
	}

/* Footer */
	footer {
		position: relative;
		height: auto;
		background-color: #2e2723;
		border-top: 7px solid #473d36;
		overflow: hidden;
	}

	.footer-contacts {
	    width: 350px;
		float: left;
		margin: 57px 0 0 47px;
		font-size: 24px;
		font-family: 'Acrom-Bold';
		color: #ffd06b;
		letter-spacing: 1.8px;
	}

	.footer-contacts span {
		display: inline-block;
	    margin-bottom: 25px;
		padding-bottom: 10px;
		text-transform: uppercase;
		border-bottom: 1px solid;
	}

	.footer-contacts a {
		display: block;
		color: #ffd06b; 
		text-decoration: none;
	}

	.footer-contacts a.phone {
		margin-bottom: 10px;
	}

	.footer-contacts a.mail {
		margin-top: 20px;
	}

	.footer-contacts p {
		margin: 0;
		width: 290px;
		margin-top: 24px;
		letter-spacing: 2.1px;
		line-height: 28px;
		font-size: 15px;
		font-family: 'Raleway-Regular';
	}

	.footer-links {
		float: right;
	    margin: 50px 50px 0 0;
	}

	.footer-links a {
		display: block;
		padding: 15px 0;
		margin-bottom: 17px;
		width: 279px;
		font-size: 12px;
		color: #ffd06b;
		font-family: 'Acrom-Bold';
		letter-spacing: 1.2px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		border: 1px solid #ffd06b;
	}

	.footer-copyright {
		position: relative;
		clear:both;
		padding: 11px 0 11px 45px;
		bottom: 0;
		left: 0;
		width: 100%;
		font-size: 14px;
		font-family: 'Raleway-Regular';
		color: #8d7d74;
		letter-spacing: 1.5px;
		word-spacing: -1px;
		background-color: #000000;
	}

/* bust-first-screen */
    .bust-first-screen {
        background-image: url(../img/types_bg.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 583px;
        position: relative;
    }

    .bust-first-screen img {
        position: absolute;
        bottom: 0;
        right: 100px;
    }

    .bust-first-screen .text {
        padding: 201px 0 0 50px;
        text-align: left;
    }

    .bust-first-screen .text1 {
			padding: 6px 20px;
		    width: 258px;
		    font-size: 56px;
		    font-family: 'Acrom-Bold';
		    letter-spacing: 3px;
		    color: #fff;
		    background-color: #453a34;
		    text-transform: uppercase;
            max-width: 190px;
    }

    .bust-first-screen .text2 {
			margin-top: 24px;
			font-size: 26px;
			letter-spacing: 1.3px;
			font-family: 'Acrom-Bold';
			text-transform: uppercase;
            max-width: 500px;
    }

    .bust-first-screen .text3 {
			margin-top: 12px;
			font-size: 18px;
			font-family: 'Raleway-Regular';
			letter-spacing: 0.65px;
            width: 425px;
            letter-spacing: 1.1px;
            text-align: justify;
    }

/* bust-second-screen */
    .thesame {
            background: url(../img/meandr_bg.png) rgb(247, 247, 247);
            background-position: center center;
            box-sizing: border-box;
            border-bottom: solid 5px rgb(255, 255, 255);
            border-top: solid 5px rgb(255, 255, 255);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
            position: relative;
    }

    .bust-second-screen {
            padding: 50px 0 0;
    }

    .bust-second-screen .free_sketch {
            font-size: 22px;
            font-family: "Acrom-Bold";
            color: rgb(46, 39, 35);
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.5px;
            margin: 0;
    }

    .wpcf7-form {
            display: flex;
            flex-wrap: wrap;
            margin: 22px -10px 26px;
    }

    .wpcf7-form-control-wrap {
            display: block;
            box-sizing: border-box;
            width: 25%;
            padding: 0 10px 28px;
    }

    .wpcf7-form-control-wrap input {
            display: block;
            padding: 0 15px;
            font-size: 14px;
            box-sizing: border-box;
            border: solid 1px rgb(205, 205, 205);
            height: 46px;
            width: 100%;
            outline-color:#ffd57a;
    }

    .wpcf7-form-control-wrap button {
            display: block;
            background-color: #ffd57a;
            box-sizing: border-box;
            border: solid 1px rgb(204, 170, 98);
            cursor: pointer;
            width: 100%;
            height: 46px;
            padding: 5px;
            font-size: 15px;
            font-family: "Acrom-Medium";
            text-transform: uppercase;
            text-align: center;
            outline: none;
    }

/* bust-third-screen */

    .bust-third-screen {
            padding: 72px 0 0;
    }

    .bust-third-screen .wrapper, .bust-seventh-screen .wrapper {
            position: relative;
    }

    .bust-third-screen h1 {
            font-size: 30px;
            font-family: "Acrom-Bold";
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2.3px;
            margin: 0;
     }

    .characteristics {
            overflow: hidden;
    }

    .bust-third-screen .bust_category1, .bust-seventh-screen .bust_category3 {
            background-image: url(../img/bust_category.png);
            background-position: 0 bottom;
            width: 840px;
            height: 645px;
            position: absolute;
            bottom: 0;
            left: -300px;
    }

    .bust-third-screen ul, .bust-seventh-screen ul {
            display: block;
            padding: 0;
            margin: 70px 65px 90px 0;
            float: right;
            max-width: 600px;
    }

    .bust-third-screen ul li, .bust-seventh-screen ul li {
            text-align: left;
            font-size: 20px;
            font-family: "Acrom-Medium";
            list-style: none;
            position: relative;
            padding: 15px 0 20px 38px;
            letter-spacing: 1.2px;
    }

    .bust-third-screen ul li::before, .bust-seventh-screen ul li::before {
            content: "•";
            font-size: 50px;
            font-weight:600;
            color: #ffd57a;
            position: absolute;
            left: 0;
            top: -10px;
    }

/* bust-fourth-screen */
    .bust-fourth-screen {
            padding: 34px 0 40px;
    }

    .bust-fourth-screen p {
            font-size: 18px;
            font-family: "Raleway-Medium";
            text-align: justify;
            padding: 20px 0;
            letter-spacing: 1.3px;
    }

    .quote {
            box-sizing: border-box;
            border: 1px solid rgb(215, 230, 181);
            background-color: rgb(255, 255, 255);
            font-size: 18px;
            font-family: "Raleway-Medium";
            text-align: justify;
            position: relative;
            padding: 5px 35px 35px 140px;
            margin: 23px 0;
            letter-spacing: 1.3px;
    }

    .bust-fourth-screen .quote p {
            margin: 0;
    }

    .bust-fourth-screen .quote .green, .bust-eight-screen .quote .green         {
            background: url(../img/pattern_diagonal.png) #c8d6a8;
            width: 100px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
    } 

    .bust-fourth-screen .quote .green .icon, .bust-eight-screen .quote .green .icon {
            background: url(../img/sprites.svg) -988px -165px;
            width: 100px;
            height: 100px;
    }

/* bust-fifth-screen */
    .bust-fifth-screen {
            padding: 75px 0 80px;
    }

    h2 {
            font-size: 30px;
            font-family: "Acrom-Bold";
            text-transform: uppercase;
            text-align: left;
            letter-spacing: 2.3px;
            margin: 0;
    }

    .bust-fifth-screen h2 {
            letter-spacing: 2px;
    }

    .bust-fifth-screen p {
            font-size: 18px;
            font-family: "Raleway-Medium";
            text-align: left;
            letter-spacing: 1.6px;
            margin: 13px 0 23px;
    }

    .bust-fifth-screen .bust_types {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -25px;
    }

    .bust-fifth-screen .bust_types .bust_wrapper {
            box-sizing: border-box;
            width: 33.333%; 
            padding: 0 25px;
    }

    .bust-fifth-screen .bust_types .bust {
            background: url(../img/types_bg.jpg);
            font-size: 0;
            line-height: 0;
    } 

    .bust-fifth-screen .bust_types .bust_wrapper:nth-child(1) .bust {
            background-position: left;
    }

    .bust-fifth-screen .bust_types .bust_wrapper:nth-child(2) .bust {
            background-position: center;
    }

    .bust-fifth-screen .bust_types .bust_wrapper:nth-child(3) .bust {
            background-position: right;
    }

    .bust-fifth-screen .bust_types .bust img {
            width: 100%;
    }

    .bust-fifth-screen .bust_types .bust .description {
            background-color: #453a34;
            padding: 35px 20px;
            font-size: 15px;
            font-family: "Acrom-Bold";
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1.1px;
            line-height: 1.4;
    }

/* bust-sixth-screen */
    .bust-sixth-screen {
            padding: 68px 0;
            overflow: hidden;
    }

    .bust-sixth-screen .wrapper {
            position: relative;
    }

    .bust-sixth-screen .postament {
            max-width: 780px;
    }

    .bust-sixth-screen .postament p {
            font-size: 18px;
            font-family: "Raleway-Medium";
            font-family: "Raleway-Medium";
            text-align: justify;
            letter-spacing: 1.1px;
            margin: 23px 0;
    }

    .bust-sixth-screen .postament .colors {
            display: flex;
            flex-wrap: wrap;
            margin: 32px -15px;
    }

    .bust-sixth-screen .postament .colors .color_wrapper {
            box-sizing: border-box;
            width: 25%;
            padding: 0 15px;
    }

   .bust-sixth-screen .postament .colors .granit {
            background-image: url(../img/granit.jpg);
            background-size: 175px;
            width: 100%;
            height: 173px;
    }

   .bust-sixth-screen .postament .colors .red .granit {
            background-position: -1px -1px;
    }

   .bust-sixth-screen .postament .colors .brown .granit {
            background-position: -1px -175px;
    }

   .bust-sixth-screen .postament .colors .black .granit {
            background-position: -1px -349px;
    }

   .bust-sixth-screen .postament .colors .grey .granit {
            background-position: -1px -525px;
    }

   .bust-sixth-screen .postament .colors .text {
            background: #dae8ba;
            font-size: 15px;
            font-family: "Acrom-Bold";
            text-transform: uppercase;
            text-align: center;
            min-height: 50px;
            padding: 10px 20px;
            letter-spacing: 1px;
    }

    .bust-sixth-screen .bust_category2 {
            background-image: url(../img/bust_category.png);
            background-position: -920px bottom;
            width: 550px;
            height: 645px;
            position: absolute;
            top: -65px;
            right: -150px;
    }

/* bust-seventh-screen */
    .bust-seventh-screen {
            padding: 70px 0 5px;
    }

    .bust-seventh-screen .bust_category3 {
            background-position: -1490px -90px;
            width: 720px;
            left: -120px;
    }

    .bust-seventh-screen ul {
            margin: 28px 0 70px;
    }

/* bust-eight-screen */
    .bust-eight-screen {
            padding: 64px 0 85px;
    }

    .bust-eight-screen .wrapper {
            position: relative;
    }

    .bust-eight-screen .after_h3 {
            letter-spacing: 1.4px;
    }

    .bust-eight-screen p {
            font-size: 18px;
            font-family: "Raleway-Medium";
            text-align: justify;
            margin: 20px 0;
            letter-spacing: 1.2px;
    }

    .bust-eight-screen .scheme {
            display: flex;
            flex-wrap: wrap;
            margin: 40px 0;
            justify-content: center;
    }

    .bust-eight-screen .bust_category4 {
            background-image: url(../img/bust_category.png);
            background-position: -2260px -395px;
            width: 500px;
            height: 345px;
    }

    .bust-eight-screen .icon {
            background: url(../img/sprites.svg) -985px -265px;
            width: 150px;
            height: 110px;
            margin: auto 0;
    }

    .bust-eight-screen .bust_category5 {
            background-image: url(../img/bust_category.png);
            background-position: -2310px -6px;
            width: 410px;
            height: 360px;
    }

     .bust-eight-screen .quote .green .icon {
            background: url(../img/sprites.svg) -988px -155px;
    }

    .bust-eight-screen .quote {
            margin: 23px 0 35px;
            padding: 32px 35px 40px 140px;
    }

    .bust-eight-screen .type_creating {
            overflow: hidden;
            margin-top: 20px;
    }

    .bust-eight-screen .type_creating .text {
            max-width: 570px;
    }

    .bust-eight-screen .bust_category6 {
            background-image: url(../img/bust_category.png);
            background-position: -2820px -220px;
            width: 800px;
            height: 519px;
            position: absolute;
            bottom: -85px;
            right: -210px;
    }

/* bust-nine-screen */
    .bust-nine-screen {
            padding: 70px 0 80px;
    }
    .bust-nine-screen h2 {
           letter-spacing: 1.5px;
    }

    .bust-nine-screen .carousel {
            position: relative;
    }

    .bust-nine-screen .carousel .steps_wrapper {
            width: 100%;
            overflow: hidden;
    }

    .bust-nine-screen .carousel .steps_container {
            width: 133.3333%;
    }

    .bust-nine-screen .carousel .carousel_wr {
            overflow: hidden;
    }

    .bust-nine-screen .carousel .long {
            width: 1000%;
            -webkit-transition: all 0.15s linear 0s;
            -moz-transition: all 0.15s linear 0s;
            -o-transition: all 0.15s linear 0s;
            transition: all 0.15s linear 0s;
            margin: 0 -10px;
    }

     .bust-nine-screen .carousel .one_step {
            float: left;
            width: 2.5%;
            position: relative;
            padding: 0 10px;
            box-sizing: border-box;
    }

    .bust-nine-screen .step {
            background-image: url(../img/etaps.png);
            background-size: 100% auto; 
            width: 100%;
            height: 380px;
            box-sizing: border-box;
            margin: 25px 0;
    }

    .bust-nine-screen .draft {
            background-position: -5px -5px;
    }

    .bust-nine-screen .model {
            background-position: 5px -380px;
    }

    .bust-nine-screen .form {
            background-position: -5px -810px;
    }

    .bust-nine-screen .number {
            box-sizing: border-box;
            border-radius: 50%;
            border: solid 4px rgb(255, 217, 136);
            background-color: #ffffff;
            width: 55px;
            height: 55px;
            font-size: 38px;
            font-family: "Acrom-Bold";
            text-transform: uppercase;
            padding-bottom: 5px;
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 420px;
            line-height: 1.3;
    }

    .bust-nine-screen .stage  {
            box-sizing: border-box;
            padding: 62px 10px 10px;
            font-size: 18px;
            font-family: "Raleway-Regular";
            text-align: justify;
            letter-spacing: 1.2px;
            width: 100%;
            line-height: 1.7;
    }

    .bust-nine-screen .center_word {
            font-size: 26px;
            font-family: "Acrom-Bold";
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1.5px;
            margin-bottom: 10px;
    }

    .bust-nine-screen .line::before {
            content: '';
            background-color: #453a34;
            height: 4px;
            width:  100%;
            position: absolute;
            left: 0;
            top: 447px;
    }

    .bust-nine-screen .carousel .control {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 425px;
            cursor: pointer;
            box-sizing: border-box;
            border: solid 4px rgb(255, 217, 136);
    }

    .bust-nine-screen .control.prew {
            background: url(../img/sprites.svg) -225px -105px;
            left: -75px;
    }

    .bust-nine-screen .control.next {
            background: url(../img/sprites.svg) -285px -105px;
            right: -75px;
    }

/* catalog */
/* catalog-first-screen */

    .catalog-first-screen {
        background-image: url(../img/types_bg.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 280px;
    }

/* catalog-second-screen */

    .catalog-second-screen {
        background-color: #f7f7f7;
        padding: 60px 0;
        overflow: hidden;
    }

    .catalog-second-screen .filter_button {
        position: relative;
    }

    .catalog-second-screen .filter_button button {
        display: none;
        box-sizing: border-box;
        background-color: #ffffff;
        border: solid 1px rgb(204, 170, 98);
        cursor: pointer;
        height: 58px;
        width: 272px;
        margin: 3px 0 18px;
        padding: 15px;
        font-size: 18px;
        font-family: "Acrom-Bold";
        text-transform: uppercase;
        text-align: left;
        outline: none;
        letter-spacing: 1.5px;
    }

     .catalog-second-screen .filter_button .arrow {
        background: url(../img/sprites.svg) -220px -96px;
        position: absolute;
        width: 55px;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 220px;
    }

     .catalog-second-screen .filter_button .arrow.active {
        background: url(../img/sprites.svg) -280px -96px;
    }

    .catalog-second-screen aside {
        background-color: #efefef;
        width: 300px;
        float: left;
        letter-spacing: 2px;
    }

    .catalog-second-screen aside .filter {
        font-size: 22px;
        font-family: "Acrom-Bold";
        text-transform: uppercase;
        text-align: left;
        padding: 27px 20px 0;
    }

    .catalog-second-screen aside .price_filter {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
    }

    .catalog-second-screen aside .price input {
        display: block;
        padding: 0 15px;
        margin: 23px 0 28px;
        font-size: 18px;
        font-family: "Acrom";
        box-sizing: border-box;
        border: solid 1px rgb(204, 170, 98);
        outline-color:#ffd57a;
        height: 42px;
        width: 99px;
    }

    .catalog-second-screen aside .price .symbol1 {
       font-size: 18px;
       font-family: "Raleway-Medium";
       padding: 30px 10px;
    }

    .catalog-second-screen .symbol_rur {
        font-size: 30px;
        font-family: "Raleway-Medium";
        padding: 25px 11px;
        text-transform: uppercase;
        position: relative;
    }

    .catalog-second-screen .symbol_rur:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 10px;
        top: 48px;
        left: 11px;
        background-color: rgb(69, 58, 52);
    }

    .catalog-second-screen aside ul {
       margin: 0;
       padding: 10px 20px;
    }

    .catalog-second-screen aside ul li {
        font-size: 18px;
        font-family: "Raleway-Medium";
        line-height: 2.222;
        list-style: none;
        text-align: left;
    }

    .catalog-second-screen aside ul li a {
        text-decoration: none;
        color: rgb(69, 58, 52);
    }

    .catalog-second-screen .catalog_cards {
        display: flex;
        flex-wrap: wrap;
    }

    .catalog-second-screen .catalog_cards .catalog_card {
        box-sizing: border-box;
        width: 50%;
        padding: 0 0 78px 90px;
        text-align: left;
    }

    .catalog-second-screen .catalog_card .sculpture_photo {
        background-color: aqua;
        width: 100%;
        height: 441px;
    }

    .catalog-second-screen .catalog_card .sculpture_price {
        font-size: 36px;
        font-family: "Acrom-Bold";
        text-transform: uppercase;
        padding: 23px 0 16px;
        letter-spacing: 1.7px;
    }

    .catalog-second-screen .sculpture_price .symbol_rur {
        font-size: 36px;
        font-family: "Raleway-Bold";
        padding: 0;
    }

    .catalog-second-screen .sculpture_price .symbol_rur:before {
        height: 4px;
        width: 11px;
        top: 27px;
        left: 1px;
    }

    .catalog-second-screen .catalog_card .sculpture_name {
        font-size: 22px;
        font-family: "Acrom-Bold";
        letter-spacing: 1.7px;
    }

    .catalog-second-screen .catalog_card .sculpture_description {
        font-size: 16px;
        font-family: "Raleway-Medium";
        padding: 12px 0 5px;
        line-height: 1.625;
        letter-spacing: 1px;
    }

    .catalog-second-screen .catalog_cards button {
        display: block;
        background-color: #ffd57a;
        box-sizing: border-box;
        border: solid 1px rgb(204, 170, 98);
        cursor: pointer;
        height: 59px;
        width: 80%;
        margin: 15px 0;
        padding: 15px;
        font-size: 18px;
        font-family: "Acrom-Medium";
        text-transform: uppercase;
        text-align: center;
        outline: none;
        letter-spacing: 1.5px;
    }

    .catalog-pagination {
        padding: 26px 0 60px 80px;
    }

    .catalog-pagination .pagination-list {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }

    .pagination-list li {
        display: inline-block;
        margin: 0 5px;
    }

    .pagination-list li a {
        font-size: 18px;
        font-family: "Acrom-Bold";
        color: rgb(69, 58, 52);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1.5px;
    }

    .pagination-list .prev, .pagination-list .next {
        position: relative;
        padding: 0 20px;
    }

    .pagination-list .prev::before {
        content: "";
        background: url(../img/sprites.svg) -90px -40px;
        background-size: 400px;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 0;    
    }

    .pagination-list .bordered  {
        box-sizing: border-box;
        padding: 10px 5px;
        width: 51px;
        height: 62px;
        border: 1px solid rgb(69, 58, 52);
        background-color: #ffffff;
    }

    .pagination-list .bordered a {
        font-size: 30px;
    }

    .pagination-list .points {
        font-size: 30px;
        margin: 0 10px;
    }

    .pagination-list .next::after {
        content: "";
        background: url(../img/sprites.svg) -110px -40px;
        background-size: 400px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 0;
    }


/* materials */
/* material_types */

        .material-types {
            padding: 50px 0 75px;
        }

        .material-types h1 {
            font-size: 30px;
            font-family: "Acrom-Bold";
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2.3px;
        }

        .material-types .types {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -20px;
        }

        .material-types .types .type {
            box-sizing: border-box;
            width: 20%;
            padding: 0 20px;
            text-decoration: none;
            color: #2e2723;
        }

        .material-types .material {
            background: url(../img/materials.jpg);
            box-sizing: border-box;
            border-radius: 50%;
            width: 160px;
            height: 160px;
            margin: 38px auto 35px;
            cursor: pointer;
        }

        .material-types .type .stone {
            background-position: -1px -1px;
        }

        .material-types .type .bronze {
            background-position: -1px -200px;
        } 

        .material-types .type .marble {
            background-position: -1px -400px;
        } 

        .material-types .type .granite {
            background-position: -1px -600px;
        } 

        .material-types .type .artificial {
            background-position: -1px -800px;
        } 

        .material-types .types .text {
            font-size: 15px;
            font-family: "Acrom-Bold";
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
        }

/* materials_about */
        
        .materials_about {
            background: url(../img/meandr_bg.png) rgb(247, 247, 247);
            background-position:  top center;
            border: solid 1px #dad8d6;
            padding-top: 55px;
            overflow: hidden;
        }

        #viewport {
            width: 100%;
            position: relative;
        }

        #slidewrapper {
            position: relative;
            width: 500%;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            transition: margin-left 0.5s linear 0s;
            -webkit-transition: margin-left 0.5s linear 0s;
            -o-transition: margin-left 0.5s linear 0s;
        }

        .materials_about .slide {
            width: 20%;
            display: inline;
            float: left;
            overflow: hidden;
        }

        .materials_about .wrapper {
            position: relative;
        }

        .materials_about .material_name {
            font-size: 56px;
            font-family: "Acrom-Bold";
            text-transform: uppercase;
            text-align: left;
            margin: 10px 0;
            letter-spacing: 4px;
        }

        .materials_about .about p {
            font-size: 18px;
            font-family: "Raleway-Medium";
            text-align: justify;
            max-width: 590px;
            letter-spacing: 1.8px;
            margin: 30px 0;
            line-height: 1.7;
        }

        .materials_about .advantage {
            font-size: 22px;
            font-family: "Acrom-Bold";
            text-transform: uppercase;
            text-align: Left;
            padding: 50px 0 20px 85px;
            letter-spacing: 1.7px;
            position: relative;
        }

        .materials_about .advantage::before {
            content: "";
            background: url(../img/sprites.svg);
            background-position: -9px -386px;
            height: 70px;
            width: 70px;
            position: absolute;
            left: 0;
            top: 30px;
        }

        .materials_about .example {
            background: url(../img/material_bronze.png);
            position: absolute;
            width: 920px;
            height: 675px;
            bottom: -65px;
            right: -280px;
        }

/* question_answer */

        .question_answer {
            background: url(../img/pattern_diagonal.png) rgb(218, 216, 214); 
            padding: 20px 0 40px;
            margin-top: 65px;
        }

        .question_answer .question {
            position: relative;
            cursor: pointer;
        }

        .question_answer .question .text {
            box-sizing: border-box;
            background-color: #ffffff;
            font-size: 24px;
            font-family: "Acrom-Medium";
            text-align: left;
            padding: 15px 25px;
            margin-top: 30px;
            letter-spacing: 1.2px;
        }

        .question_answer .question .plus {
            position:absolute;
            width: 55px;
            height: 100%;
            top:0;
            right:0;
            bottom:0;
        }

        .question_answer .question .plus:before {
            content:"+";
            box-sizing: border-box;
            border: solid 2px rgb(69, 58, 52);
            border-radius: 50%;
            width: 35px;
            height: 35px;
            font-size: 40px;
            font-family: "Acrom-Medium";
            color: #2e2723;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto 10px;
            line-height: 0.7;
        }

        .question_answer .question.active .plus::before {
            content:"-";
        }

        .question_answer .answer {
            display: none;
            box-sizing: border-box;
            background-color: #ffffff;
            padding: 15px 25px;
            font-size: 18px;
            font-family: "Raleway-Regular";
            text-align: justify;
            margin-top: 2px;
            letter-spacing: 1px;
        }


/* Media */
	@media(max-width: 1300px) {
		.first-screen-img {
		    margin-left: -300px;
		    bottom: -50px;
	    }
	}

	@media(max-width: 1220px) {
		.contacts {
			margin-top: 90px;
			width: 100%;
			height: 85px;
			float: none;
			overflow: hidden;
		}
		
		.contacts-logo {
			left: 30px;
			width: 75px;
			height: 75px;
			background-size: 950px auto;
			background-position: 0px -80px;
		}
	
		.contacts-link {
			position: relative;
			margin: 10px 0 0 125px;
		}

		.fourth-screen-elem > p {
			font-size: 22px;
		}
        
        .bust-sixth-screen .bust_category2 {
            display: none;
        }
	}

	@media(max-width: 1185px) {
		.third-screen-elem {
			width: 33.33%;
		}

		.third-screen-elem:nth-child(3) {
			display: none;
		}
        
        .bust-third-screen .bust_category1, .bust-seventh-screen .bust_category3 {
            top: 80px;
            bottom: auto;
        }

        .bust-third-screen ul, .bust-seventh-screen ul {
            padding-top: 625px;
            float: none;
            max-width: 1100px;
        }
        
        .bust-fifth-screen .bust_types .bust_wrapper {
            width: 100%; 
        }
        
        .bust-fifth-screen .bust_types .bust {
            max-width: 373px;
            margin: 20px auto;
        } 
        
        .bust-eight-screen .scheme {
            flex-direction: column;
        }
        
        .bust-eight-screen .bust_category4, .bust-eight-screen .bust_category5 {
            margin: 0 auto;
        }
        
        .bust-eight-screen .icon {
            background: url(../img/sprites.svg) -135px -215px;
            height: 150px;
            margin: 0 auto;
        }
        
        .bust-eight-screen .type_creating .text {
            padding-bottom: 480px;
            max-width: 1100px;
        }
        
        .bust-eight-screen .bust_category6 {
            bottom: -85px;
            left: 0;
            right: auto;
        }
}

	@media(max-width: 1145px) {
		.second-screen-elem .elem-link > .elem-img {
			width: 425px;
			height: 425px;
		}
	}

	@media(max-width: 1125px) {
		.first-screen-img {
		    margin-left: -200px;
	    }
		
		.second-screen-elem {
			display: block;
			margin: 0 auto;
			padding: 0 0px 100px 0px;
			width: 75%;
			float: none;
		}
		
		.fourth-screen-box {
			padding-bottom: 0;
			margin-left: 0;
			margin-right: 0;
		}

		.fourth-screen-elem {
			display: block;
			margin: 0 auto;
			padding: 0 0px 50px 0px;
			width: 75%;
			float: none;
		}
        
        .material-types .types .type {
            width: 33.333%;
        }
	}

    @media(max-width: 1024px) {
        
        .catalog-second-screen .filter_button button {
        display: block;
        }
        
        .catalog-second-screen aside {
            display: none;
            width: 100%;
            float: none;
        }
        
        .catalog-second-screen .wrapper {
            padding: 0 15px;
        }
        
        .catalog-second-screen .catalog_cards {
            padding: 0 50px;
        }
        
        .catalog-second-screen .catalog_cards .catalog_card {
            padding: 50px 45px 78px;
        }
        
        .catalog-pagination {
            padding: 26px 0 60px 40px;
        }
    }

	@media(max-width: 940px) {
		.menu {
			display: none;
			position: absolute;
			margin: 0;
			top: 90px;
			left: 0;
			width: 100%;
			background-color: rgba(46, 39, 35, 0.851);
			overflow: hidden;
		}

		.menu.active {
			display: block;
		}

		.menu > li {
			display: block;
			width: 100%;
			text-align: center;
		}

		.menu > li > ul {
			position: relative;
			top: 0;
			left: 0;
		}
		
		.menu > li > ul > li a {
			margin: 0 auto;
			background-color: transparent;
		}

		.first-screen { 
			height: 790px;
		}

		.first-screen-img {
			left: 30%;
			bottom: -100px;
		}

		.first-screen-text {
			margin: 0 auto;
			width: 95%;
			margin-top: 201px;
			text-align: center;
		}
		
		.first-screen-text > .year {
			margin: 0 auto;
		}

		.form-box {
			position: relative;
			margin: 0 auto;
			width: 100%;
			max-width: 590px;
			height: auto;
			top: 0;
			box-sizing: border-box;
			font-size: 0;
		}

		.form-box > p {
			margin-top: 30px;
		}

		.form-box > form > span {
			display: inline-block;
			width: 50%;
			text-align: center;
		}

		.form-box > form > span > input {
			width: 85%;
		}

		.form-box > form > span > .button {
			width: 95%;
		}

		.mob-menu {
			display: block;
		}
	}
	
	@media(max-width: 880px) {
		.third-screen-elem {
			width: 50%;
		}

		.third-screen-elem:nth-child(2) {
			display: block;
		}

		.third-screen-elem:nth-child(3) {
			display: block;
		}
	
        .wpcf7-form-control-wrap {
            width: 50%;
        }
        
        .bust-nine-screen .carousel .steps_container {
            width: 200%;
        }
    }

	@media(max-width: 785px) {
		.wrapper { 
			padding: 0 15px 0 15px;
		}
        
        .bust-sixth-screen .postament .colors .color_wrapper {
            width: 50%;
            padding: 20px;
        }
	}

	@media(max-width: 745px) {
		.footer-contacts {
		    width: 350px;
			float: none;
			margin: 0 auto;
			margin-top: 50px;
		    font-size: 20px;
			text-align: center;
		}
		
		.footer-contacts p {
			width: 100%;
		}

		.footer-links {
			float: none;
		    margin: 0 auto;
		    margin-top: 50px;
		    margin-bottom: 70px;
	        width: 280px;
		}

		.footer-copyright {
			padding: 11px 0 11px 0;
			text-align: center;
		}
	}

	@media(max-width: 660px) {
		.first-screen-img {
    		left: 25%;
    	}

		.second-screen-elem .elem-link > .elem-img {
			width: 375px;
			height: 375px;
		}
        
        .bust-eight-screen .bust_category6 {
            background-size: 1600px;
            background-position: -2835px -90px;
            width: 360px;
            height: 240px;
        }
        
        .bust-eight-screen .type_creating .text {
            padding-bottom: 180px;
        }
	}

	@media(max-width: 665px) {
		.fourth-screen-elem {
			width: 100%;
		}
        
        .quote, .bust-eight-screen .quote {
            padding: 7px 20px;
        }

        .bust-fourth-screen .quote .green, .bust-eight-screen .quote .green {
            display: none;
        }
	}

	@media(max-width: 625px) {
		.second-screen-box {
			margin: 0;
		}

		.second-screen-elem {
			width: 100%;
		}
	}

	@media(max-width: 585px) {
		.form-box > form > span {
			display: inline-block;
			margin-top: 10px;
			width: 100%;
		}

		.form-box > form > span > input {
			max-width: 100%;
		}

		.form-box > form > span > .button {
			max-width: 100%;
		}
        
        .bust-eight-screen .bust_category4 {
            background-size: 2100px;
            background-position: -1325px -225px;
            width: 280px;
            height: 210px;
        }
        
        .bust-eight-screen .bust_category5 {
            background-size: 2100px;
            background-position: -3450px -1px;
            width: 230px;
            height: 220px;
        }
        
        .bust-nine-screen .carousel .steps_container {
            width: 400%;
        }
        
        .material-types .types .type {
            width: 50%;
        }
	}

	@media(max-width: 550px) {
		.fourth-screen-elem > .elem-link > .elem-img {
			width: 350px;
			height: 350px;
		}

		.fourth-screen-elem > p {
			width: 100%;
		}
        
        .bust-third-screen .bust_category1, .bust-seventh-screen .bust_category3 {
            background-size: 1600px;
            width: 370px;
            height: 315px;
            top: 150px;
            left: -35px;
        }
        
        .bust-seventh-screen .bust_category3 {
            background-position: -660px bottom;
            width: 320px;
        }
        
        .bust-third-screen ul, .bust-seventh-screen ul {
            padding-top: 320px;
        }
	}

	@media(max-width: 500px) {
		.third-screen-elem {
			width: 100%;
		}
		

		.third-screen-elem > a  {
			width: 90%;
		}

		.third-screen-elem > a > span:before {
		    width: 60px;
		    height: 60px;
		    background-size: 830px auto;
		    background-position: -100px -75px;
	    }

	    .third-screen-elem > a > span {
			font-size: 20px;
	    }
        
        .wpcf7-form-control-wrap {
            width: 100%;
        }
        
	}

	@media(max-width: 485px) {
		.second-screen-elem .elem-link > .elem-img  {
			width: 300px;
			height: 300px;
		}

		.elem-footer {
			height: auto;
		}

		.elem-footer > .elem-price {
			display: block;
			float: none;
			margin: 0 auto;
			width: 100%;
			text-align: center;
		}

		.elem-footer > .button {
			padding: 15px 0;
			margin-top: 20px;
			width: 100%;
			float: none;
		}
        
        .bust-sixth-screen .postament .colors .color_wrapper {
            width: 100%;
        }
	}

	@media(max-width: 425px) {
		.third-screen-elem {
			width: 100%;
		}
		
		.third-screen-elem:nth-child(2) {
			display: block;
		}

		.third-screen-elem:nth-child(3) {
			display: block;
		}
        
        .material-types .types .type {
            width: 100%;
        }
	}

	@media(max-width: 410px) {
		.first-screen-img {
		    left: 20%;
		    width: 1207px;
		    height: 401px;
		}
	}

	@media(max-width: 395px) {
		.fourth-screen-elem > .elem-link > .elem-img {
			width: 310px;
			height: 310px;
		}
	}

	@media(max-width: 360px) {
		.footer-contacts {
		    width: 100%;
		}
	}

	@media(max-width: 330px) {
		.contacts-link {
			margin: 10px 0 0 115px;
		}
	}

